# 1. 忽略所有内容
*

# 2. 允许追踪 .gitignore 自己
!.gitignore

# 3. 允许追踪根目录下的脚本
!run_sft.sh

# 4. 允许进入 dataset 文件夹并追踪目标文件
!dataset/
dataset/*
!dataset/fast_prepare.py
!patent/
patent/*
!patent/convert_dta_to_json.py
!patent/csv_to_json_fallback.py
!patent/build_patent_sqlite.py
!patent/dta_to_json_guardian.py